@{
    Layout = null;
}

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Cognology Test: 
    </title>
</head>
<body>
    <h1>Acme Remote Flights APIs</h1>
    <p>Developer: <strong>Pradeep Chouhan</strong></p>
    <p>Please refer Readme</p>
</body>
</html>
